<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>

    <services>
      <service name="QIQO.Services.Service1" behaviorConfiguration="mexBehaviour">
        <endpoint address="Service1" binding="netTcpBinding" contract="QIQO.Services.IService1"
                  behaviorConfiguration="mexEndPointBehaviour"/>
        <endpoint address="Service1" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7473/Service1"/>
            <add baseAddress="net.tcp://localhost:7478/Service1"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!--<QIQOAudit enabled="true"/>-->
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="mexEndPointBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>